

@import url('https://fonts.googleapis.com/css2?family=Padauk&family=Sacramento&display=swap');

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html {
    font-size: 18px;
    line-height: 1.5;
    scroll-behavior: smooth;
}



}


a {
    color: inherit;
    text-decoration: none;
}

h2 {
    margin: 0;
    text-align: center;
    font-family: Sacramento;
    font-size: 3rem;
}
p{
    font-family: padauk;
    font-size: 1.2rem;
    text-align: center;
}


header {
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header::before {
    content: "";
    background-image: url(media/logo.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    will-change: transform;
    animation-name: hero;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: -1;
}



#products-button {
    display: block;
    color: grey;
    border: 1px solid grey;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    padding: 28px 48px;
    transition: transform 0.4s;
}
#products-button:hover {
    transform: scale(1.1);
}




#hamburger {
    width: 60px;
    height: 45px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    transform: scale(0.8);
    z-index: 5;
}

#hamburger span {
    display: block;
    width: 100%;
    height: 9px;
    background-color: #fff;
    border-radius: 9px;
    position: absolute;
    transition: transform 0.2s, top 0.2s, opacity 0.2s;
}

#hamburger span:nth-child(1) {
    top: 0px;
}

#hamburger span:nth-child(2) {
    top: 18px;
}

#hamburger span:nth-child(3) {
    top: 18px;
}

#hamburger span:nth-child(4) {
    top: 36px;
}

#hamburger.open span:nth-child(1) {
    top: 18px;
    opacity: 0;
}

#hamburger.open span:nth-child(2) {
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
    top: 18px;
    opacity: 0;
}

nav {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.8s;
}

nav.show {
    visibility: visible;
    opacity: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 4rem 0 0 0;
    text-align: center;
    z-index: 10;
}

nav li {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
}

nav a {
    color: #bbb; 
    display: block;
    transition: transform 0.3s, color 0.3s;
}

nav a:hover {
    color: #fff;
    transform: scale(1.3);
}

main {
    background-color: antiquewhite;
    position: relative;

}

section {
    padding-bottom: 6rem;
}

#intro {
    font-size: 1.4rem;
    padding: 10px;
    padding-bottom: 4rem;
    padding-top: 4rem;
    background-color: tan
}

#intro img {
    display: block;
    width: 180px;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

#intro p {
    max-width: 700px;
    margin: 0 auto;
    font-family: Padauk;
   
}

#intro p.bold {
    font-weight: 700;
    font-family: Sacramento;
    font-size: 3rem;
    
}

#Products{
    padding-top: 4rem;
}


#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
}

#grid > div:nth-child(odd) {
    transition: transform 0.5s, opacity 1.5s;
}

#grid > div:nth-child(even) {
    transition: transform 1s, opacity 2.2s;   
}

#grid > div {
    transform: translate(0, 8rem);
    opacity: 0;
}

#grid > div.move-up {
    transform: translate(0, 0);
    opacity: 1;
}
#grid img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}




#business{
    background-image: url(media/business.png);
    padding: 10px;
    background-size: contain;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
#donate-button {
    display: block;
    text-align: center;
    border: 1px solid #585858;
    padding: 16px 28px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.3px;
    transition: background-color 0.2s, color 0.2s;
    color: #000
}

#donate-button:hover {
    background-color: antiquewhite;
    color: #000;
}

#email{
    padding: 10px;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
#form {
    margin: 2rem auto 0 auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    transition: transform 0.3s;
}

#form:hover {
    transform: scale(1.1);
}

#email-address {
    display: block;
    margin: 0;
    outline: none;
    border: 1px solid #585858;
    border-right-width: 0;
    background-color: papayawhip;
    color: #000;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0 1rem;
    flex-grow: 1;
}

#email-button {
    display: block;
    text-align: center;
    border: 1px solid #585858;
    padding: 16px 28px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.3px;
    transition: background-color 0.2s, color 0.2s;
    color: #000
}

#email-button:hover {
    background-color: papayawhip;
    color: #000;
}

footer {
    background-color: tan;
    padding: 4rem;
    position: relative;
}

#social {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#social li {
    margin: 1rem;
}

.icon {
    display: block;
    width: 4rem;
    height: 4rem;
    transition: transform 0.3s, color 0.3s;
    color: papayawhip;
}

.icon:hover {
    transform: scale(1.3);
}

.facebook:hover {
    color: #3B5998;
}

.instagram:hover {
    color: #F4A818;    
}

.youtube:hover {
    color: #F00;    
}

.twitter:hover {
    color: #55ACEE;    
}

footer p {
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #888;
}

footer p a {
    color: #aaa;
    text-decoration: none;
    font-weight: 700;
}

footer p a:hover {
    color: #fff;
}